<header>
  <div class="header-wrapper">
    <div class="header d-flex justify-content-between align-items-center p-3">
      <div class="left-header d-flex gap-3 align-items-center">
        <!-- <a href="#" class="text-decoration-none text-white text-center" style="width: 50px;">
                            <img src="images/ico-list.svg" alt="">
                        </a> -->
        <div class="hamburger-wrapper">
          <input type="checkbox" id="menuToggle" class="menu-checkbox">
          <label for="menuToggle" class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </label>
        </div>
        <img class="ps-4" src="images/logo.svg" alt="logo">
        <ul class="menu list-unstyled mb-0 ps-5 d-none d-lg-flex">
          <li><a href="#">Primary Virtual Tour</a></li>
          <li><a href="#">Secondary Virtual Tour</a></li>
          <li><a href="#">Book a Tour</a></li>
          <li><a href="#">Pay Fees</a></li>
          <li><a href="#">Parents</a></li>
        </ul>
      </div>
      <div class="search text-end">
        <a href="#" class="d-block text-decoration-none text-white text-center" style="width: 50px;">
          <img src="images/ico-search.svg" alt="logo">
        </a>
      </div>
    </div>
    <div class="admission-enquiry">
      <!-- <span class="cursor-pointer">Admission Enquiry</span> -->
    </div>
  </div>
</header>
<div class="mega-menu d-none p-5" id="megaMenu">
  <div class="menu-header border-bottom pb-4">
    <div class="row">
      <div class="col-lg-3">
        <h5 id="toggleButton" class="text__20 text__semibold text__white mb-0 cursor-pointer">
          <img src="images/left-angle.svg" /> <span>Back
            to
            home</span>
        </h5>
      </div>
      <div class="col-lg-9">
        <div class="d-flex align-items-center justify-content-between">
          <div class="top-menu">

          </div>
          <span id="crossToggle" class="cursor-pointer">
            <img src="images/cross.svg" alt="">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-list py-4">
    <div class="row">
      <div class="col-lg-3 mega-sidebar">
        <ul class="nav nav-tabs side-menu" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="abs01-tab" data-bs-toggle="tab" data-bs-target="#abs01" type="button"
              role="tab" aria-controls="abs01" aria-selected="true">ABOUT</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="abs02-tab" data-bs-toggle="tab" data-bs-target="#abs02" type="button"
              role="tab" aria-controls="abs02" aria-selected="false">ADMISSIONS</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="abs03-tab" data-bs-toggle="tab" data-bs-target="#abs03" type="button"
              role="tab" aria-controls="abs03" aria-selected="false">PRIMARY</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="abs04-tab" data-bs-toggle="tab" data-bs-target="#abs04" type="button"
              role="tab" aria-controls="abs04" aria-selected="false">SECONDARY</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="abs04-tab" data-bs-toggle="tab" data-bs-target="#abs04" type="button"
              role="tab" aria-controls="abs04" aria-selected="false">SECONDARY</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="abs05-tab" data-bs-toggle="tab" data-bs-target="#abs05" type="button"
              role="tab" aria-controls="abs05" aria-selected="false">TEACHERS</button>
          </li>

        </ul>
        <div class="skill-wrapper overlay purple pt-5">
          <div class="skill d-flex align-items-end">
            <div class="row w-100">
              <div class="col-6 skill-content">
                <h3 class="text__18 text__black text__white mb-3">Have Admission Enquiry?
                </h3>
                <button class="btn btn-white text-nowrap">Enquire now</button>
              </div>
              <img data-aos="fade-up" data-aos-duration="2000" src="images/skills/high-academic-performance.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="tab-content menu-content ps-lg-5" id="myTabContent">
          <div class="tab-pane fade show active" id="abs01" role="tabpanel" aria-labelledby="abs01-tab">
            <h5 class="text__24 text__semibold text__secondary mb-0">ABOUT</h5>
            <hr />
            <ul class="mega-submenu list-unstyled m-0">
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Chairman's Message</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Board of Governors</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Arcadia Development Board</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Arcadia Governors' Community Committee </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Meet our Team </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Letter from Executive Principal </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Vision, Mission & Values </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Primary Campus </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Primary Virtual Tour </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Secondary Virtual Tour </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Safeguarding </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Arcadia Wellbeing </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Alumni </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Inspection Reports</a>
              </li>
            </ul>
          </div>
          <div class="tab-pane fade" id="abs02" role="tabpanel" aria-labelledby="abs02-tab">
            <h5 class="text__24 text__semibold text__secondary mb-0">ADMISSIONS</h5>
            <hr />
            <ul class="mega-submenu list-unstyled m-0">
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Admissions Procedure</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">School Calendar</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Fees</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Uniforms </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">School Meals</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Transport </a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">FS After School Care Club</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Age Calculator</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Pay Fees</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Downloads</a>
              </li>
              <li>
                <img src="images/arrow-right.svg" alt="">
                <a href="#">Extra Curricular Activities </a>
              </li>

            </ul>
          </div>
          <div class="tab-pane fade" id="abs03" role="tabpanel" aria-labelledby="abs03-tab">
            <p class="text__white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
              asperiores cupiditate molestiae, voluptatum aliquam doloribus commodi laudantium rerum,
              similique nam hic temporibus earum alias officia dolor ut repellendus! Voluptatibus,
              recusandae.</p>
          </div>
        </div>
        <hr>
        <ul class="menu justify-content-center flex-wrap list-unstyled d-flex mb-0">
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">POLICIES</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">NEWS</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">CAREERS</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">CONTACT</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">BOOK A TOUR</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">ADMISSION
              ENQUIRY</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">PAY FEES</a>
          </li>
          <li>
            <a href="#" class="text__16 text__semibold text__white text-decoration-none">PARENTS</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>